<template>
  <div class="goods">
    <div class="menu-wrapper" ref="menu-wrapper">
      <ul>
        <li v-for="(item, index) in goods" :key="index" class="menu-item" :class="{'current': currentIndex === index}" @click="selectMenu(index,$event)">
          <span class="text">
            <span v-show="item.type>0" class="icon" :class="classMap[item.type]"></span>
            {{item.name}}
          </span>
        </li>
      </ul>
    </div>
    <div class="foods-wrapper" ref="foods-wrapper">
      <ul>
        <li v-for="(item, index) in goods" :key="index" class="food-list food-list-hook">
          <h1 class="title">{{item.name}}</h1>
          <ul>
            <li @click="selectFood(food, $event)" v-for="(food, index) in item.foods" :key="index" class="food-item border-1px">
              <div class="icon">
                <img :src="food.icon" alt="" width="57" height="57">
              </div>
              <div class="content">
                <h2 class="name">{{food.name}}</h2>
                <p class="desc">{{food.description}}</p>
                <div class="extra">
                  <span>月售{{food.sellCount}}</span>
                  <span>好评率{{food.rating}}%</span>
                </div>
                <div class="price">
                  <span class="now">￥{{food.price}}</span>
                  <span class="old" v-show="food.oldPrice">￥{{food.oldPrice}}</span>
                </div>
                <div class="cartcontrol-wrapper">
                  <CartControl :food="food" @add="addFood" />
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <ShopCart :selectFoods="selectFoods" :delivery-price="seller.deliveryPrice" :min-price="seller.minPrice" ref="shopcart" />
    <Food :food="selectedFood" ref="food" @add="addFood"/>
  </div>
</template>
<script type="text/ecmascript-6">
import BScroll from 'better-scroll'
import ShopCart from 'components/shopcart/shopcart'
import CartControl from 'components/cartcontrol/cartcontrol'
import Food from 'components/food/food'
const ERR_OK = 0
export default {
  props: {
    seller: {
      type: Object
    }
  },
  data() {
    return {
      goods: [],
      listHeight: [],
      scrollY: '',
      selectedFood: {}
    }
  },
  computed: {
    currentIndex() {
      for (let i = 0; i < this.listHeight.length; i++) {
        const height1 = this.listHeight[i]
        const height2 = this.listHeight[i + 1]
        if (!height2 || (this.scrollY >= height1 && this.scrollY < height2)) {
          return i
        }
      }
      return 0
    },
    selectFoods() {
      let foods = []
      for (const good of this.goods) {
        for (const food of good.foods) {
          if (food.count) {
            foods.push(food)
          }
        }
      }
      return foods
    }
  },
  created() {
    this.classMap = ['decrease', 'discount', 'special', 'invoice', 'guarantee']
    this.axios
      .get('/api/goods')
      .then(res => {
        if (res.data.errno === ERR_OK) {
          this.goods = res.data.data
          this.$nextTick(() => {
            this._initScroll()
            this._calculateHeight()
          })
        }
      })
  },
  methods: {
    _initScroll() {
      this.menuScroll = new BScroll(this.$refs['menu-wrapper'], {
        click: true
      })
      this.foodScroll = new BScroll(this.$refs['foods-wrapper'], {
        probeType: 3,
        click: true
      })
      // 监听scroll
      this.foodScroll.on('scroll', (pos) => {
        this.scrollY = Math.abs(Math.round(pos.y))
      })
    },
    _calculateHeight() {
      let foodList = this.$refs['foods-wrapper'].querySelectorAll('.food-list-hook')
      let heigth = 0
      this.listHeight.push(heigth)
      for (let i = 0; i < foodList.length; i++) {
        const ele = foodList[i]
        heigth += ele.clientHeight
        this.listHeight.push(heigth)
      }
    },
    selectMenu(index, event) {
      // 解决原生点击事件派发 _constructed是better-scroll的事件属性
      if (!event._constructed) {
        return
      }
      let foodList = this.$refs['foods-wrapper'].querySelectorAll('.food-list-hook')
      let el = foodList[index]
      this.foodScroll.scrollToElement(el, 500)
    },
    selectFood(food, event) {
      // 解决原生点击事件派发 _constructed是better-scroll的事件属性
      if (!event._constructed) {
        return
      }
      this.selectedFood = food
      this.$refs.food.show()
    },
    _drop(target) {
      // 优化动画 不要同时执行两个动画 体验优化 异步执行下落动画
      this.$nextTick(() => {
        this.$refs.shopcart.drop(target)
      })
    },
    addFood(target) {
      this._drop(target)
    }
  },
  components: {
    ShopCart,
    CartControl,
    Food
  }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '../../common/stylus/mixin'
.goods
  display flex
  position absolute
  top 174px
  bottom 46px
  width 100%
  overflow hidden
  .menu-wrapper
    flex 0 0 80px
    width 80px
    background #f3f5f7
    .menu-item
      display table // 垂直居中
      height 54px
      width 56px
      padding 0 12px
      line-height 14px
      border-1px(rgba(2, 17, 27, 0.1))
      &.current
        position relative
        margin-top -1px
        z-index 10px
        background #ffffff
        font-weight 700
        .text
          border none
      .icon
        display inline-block
        // vertical-align top
        width 12px
        height 12px
        margin-right 2px
        background-size 12px 12px
        background-repeat no-repeat
        &.decrease
          bg-image('decrease_3')
        &.discount
          bg-image('discount_3')
        &.guarantee
          bg-image('guarantee_3')
        &.invoice
          bg-image('invoice_3')
        &.special
          bg-image('special_3')
      .text
        display table-cell
        vertical-align middle
        line-height 12px
        font-size 10px
  .foods-wrapper
    flex 1
    .title
      padding-left 14px
      height 26px
      line-height 26px
      border-left 2px solid #d9dde1
      font-size 12px
      color rgb(147, 153, 159)
      background #f3f5f7
    .food-item
      display flex
      margin 18px
      padding-bottom 18px
      border-1px(rgba(2, 17, 27, 0.1))
      &:last-child
        border-none()
        margin-bottom 0
      .icon
        flex 0 0 57px
        width 57px
        margin-right 10px
      .content
        flex 1
        .name
          margin 2px 0 8px 0
          height 14px
          line-height 14px
          font-size 14px
          color rgb(7, 17, 27)
        .desc, .extra
          line-height 10px
          font-size 10px
          color rgb(147, 153, 159)
        .desc
          margin-bottom 8px
          line-height 12px
        .extra
          &.count
            margin-right 12px
        .price
          font-weight 700
          line-height 24px
          .now
            margin-right 8px
            font-size 14px
            color rgb(240, 20, 20)
          .old
            text-decoration line-through
            font-size 10px
        .cartcontrol-wrapper
          position absolute
          right 0
          bottom 12px
</style>
