<template>
  <div class="ratingselect">
    <div class="rating-type border-1px">
      <span class="block positive" :class="{'active': selectType === 2}" @click="select(2,$event)">{{desc.all}}
        <span>{{ratings.length}}</span>
      </span>
      <span class="block positive" :class="{'active': selectType === 0}" @click="select(0,$event)">{{desc.positive}}
        <span>{{positives.length}}</span>
        </span>
        <span class="block negative" :class="{'active': selectType === 1}" @click="select(1,$event)">{{desc.negative}}
          <span>{{negatives.length}}</span>
        </span>
    </div>
    <div class="switch" :class="{'on': olc}" @click="toggleContent">
      <span class="icon-check_circle"></span>
      <span class="text">只看内容的评价</span>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
const POSITIVE = 0
const NEGATIVE = 1
const ALL = 2
export default {
  props: {
    ratings: {
      type: Array,
      default() {
        return []
      }
    },
    selectType: {
      type: Number,
      default: ALL
    },
    onlyContent: {
      type: Boolean,
      default: false
    },
    desc: {
      type: Object,
      default() {
        return {
          all: '全部',
          positive: '满意',
          negative: '不满意'
        }
      }
    }
  },
  data() {
    return {
      type: this.selectType,
      olc: this.onlyContent
    }
  },
  computed: {
    positives() {
      return this.ratings.filter(v => {
        return v.rateType === POSITIVE
      })
    },
    negatives() {
      return this.ratings.filter(v => {
        return v.rateType === NEGATIVE
      })
    }
  },
  methods: {
    select(type, event) {
      // 解决原生点击事件派发 _constructed是better-scroll的事件属性
      if (!event._constructed) {
        return
      }
      this.type = type
      this.$emit('ratingtype-select', type)
    },
    toggleContent() {
      if (!event._constructed) {
        return
      }
      this.olc = !this.olc
      this.$emit('content-toggle', this.olc)
    }
  }
}
</script>
<style lang="stylus" rel="stylesheet/stylus">
@import '../../common/stylus/mixin'
.ratingselect
  .rating-type
    padding 18px 0
    margin 0 18px
    border-1px(rgba(7, 17, 27, 0.1))
    font-size 0
  .block
    display inline-block
    padding 8px 12px
    line-height 16px
    margin-right 8px
    border-radius 1px
    font-size 12px
    color rgb(77, 85, 93)
    &.active
      color #ffffff
    .count
      margin-left 2px
      font-size 8px
    &.positive
      background-color rgba(0, 160, 220, 0.2)
      &.active
        background-color rgb(0, 160, 220)
    &.negative
      background-color rgba(77, 85, 93, 0.2)
      &.active
        background-color rgb(77, 85, 93)
  .switch
    padding 12px 18px
    line-height 24px
    border-bottom 1px solid rgba(7, 17, 27, 0.1)
    color rgb(147, 153, 159)
    font-size 0
    &.on
      .icon-check_circle
        color #00c850
    .icon-check_circle
      display inline-block
      vertical-align top
      margin-right 4px
      font-size 24px
    .text
      font-size 12px
</style>
