<template>
  <div id="app">
    <Header :seller="seller" />
    <div class="tab border-1px">
      <div class="tab-item">
        <router-link :to="{path: 'goods'}">商品</router-link>
      </div>
      <div class="tab-item">
        <router-link :to="{path: 'ratings'}">评价</router-link>
      </div>
      <div class="tab-item">
        <router-link :to="{path: 'seller'}">商家</router-link>
      </div>
    </div>
    <keep-alive>
      <router-view :seller="seller" />
    </keep-alive>
  </div>
</template>

<script type="text/ecmascript-6">
// 引入头部组件
import { urlParse } from 'common/js/util'
import Header from 'components/header/header'
const ERR_OK = 0
export default {
  name: 'App',
  created() {
    // 商家信息
    this.axios
      .get('/api/seller', {
        params: {
          id: this.seller.id
        }
      })
      .then((res) => {
        if (res.data.errno === ERR_OK) {
          this.seller = Object.assign({}, this.seller, res.data.data)
        }
      })
  },
  data() {
    return {
      seller: {
        id: (() => {
          let queryParam = urlParse()
          return queryParam.id
        })()
      }
    }
  },
  components: {
    Header
  }
}
</script>

<style lang="stylus" rel="stylesheet/stylus">
@import 'common/stylus/mixin.styl'
#app
  .tab
    display flex
    width 100%
    height 40px
    line-height 40px
    border-1px(rgba(7, 17, 27, 0.1))
    .tab-item
      flex 1
      text-align center
      & > a
        display inline-block
        &.active
          color red
</style>
